* {
  box-sizing: border-box;
  margin: 0;
}

/* LAYOUT */
.body,
p {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  font-family: 'Lakki Reddy', cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
  grid-template-rows: 80px auto auto;
  grid-template-areas:
    "header header header"
    "column1 column2 column3"
    "footer footer footer";
  background-color: #35a7ff;
}

.header {
  grid-area: header;
  background-color: #35a7ff;
  text-align: center;
  padding-top: 3px;
}

.column1,
.column2,
.column3 {
  background-color: #a6f6ae;
  color: #fff;
}

.column1 {
  grid-area: column1;
  padding: 0 20px;
}

.column2 {
  grid-area: column2;
}

.column3 {
  grid-area: column3;
}

.footer {
  grid-area: footer;
  padding: 10px 0;
  background-color: #35a7ff;
  text-align: center;
}

button:hover,
.outfit-card:hover {
  cursor: pointer;
}

/* HEADER */

.header__title {
  color: #ff5964;
  text-align: center;
  font-size: 4em;
  text-shadow: .3px .3px 1px #000;

}

.header--secondary-font-color {
  color: #ffe74c;
}

/* LEFT COLUMN */

.category-to-add,
.column3 h2 {
  margin-top: 30px;
}

.category-to-add__title,
h2 {
  font-size: 1.8em;
  text-shadow: .3px .3px .7px #000;
}

.category-to-add__button {
  height: 2em;
  margin: 0 .2em .5em 0;
  border: none;
  box-shadow:  .3px .3px .3px #000;
  background-color: #35a7ff;
  color: #fff;
  font-size: 1.1em;
  text-shadow: .3px .3px .3px #000;
}

/* CENTER COLUMN */

.column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wood-border {
  background-image: url("assets/wood-background.jpg");
  border-radius: 10%;
  padding: 0.3em;
  margin: 1em;
}

.wood-border,
.bear-background {
  border: 2px double #804000;
}

.bear-background {
  margin: 1.5em;
  background-color: #fff;
  border-radius: 10%;
}

.bear {
  height: 28em;
}

.column2 input,
.column2 button {
  display: block;
  height: 3em;
  width: 15em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.column2 button {
  margin: 1em 0;
  padding: 0;
  background-color: #ff5964;
  color: inherit;
}

/* RIGHT COLUMN */
.outfit-storage {
  display: flex;
  flex-direction: column;
}

.outfit-card {
  background-image: linear-gradient(to right, #ff5964, #ffe74c);
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px #fff;
  font-style: Montserrat;
}

.column3 h2 {
  margin-left: 10px;
}

.fa:hover {
  color: #ff5964;
}
