* {
  box-sizing: border-box;
  margin: 0;
}

/* LAYOUT */

.grid-container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
  grid-template-rows: 80px auto auto;
  grid-template-areas:
    "header header header"
    "column1 column2 column3"
    "footer footer footer";
  background-color: #35a7ff;
}

.header {
  grid-area: header;
  background-color: #35a7ff;
  text-align: center;
  padding-top: 3px;
}

h1 {
  font-family: 'Lakki Reddy', cursive;
  text-align: center;
  color: #ff5964;
  font-size: 4em;
  text-shadow: .3px .3px 1px #000;
}

.header--secondary-font-color {
  color: #ffe74c;
}

.column1 {
  grid-area: column1;
  background-color: #6bf178;
}

.column2 {
  grid-area: column2;
  background-color: #fff
}

.column3 {
  grid-area: column3;
  background-color: #6bf178;
}

.footer {
  grid-area: footer;
  padding: 10px 0;
  background-color: #35a7ff;
  text-align: center;
}
